nav#main_nav{
    position: fixed;
    top: 60px;
    margin-bottom: 10px;
}
nav#main_nav.transparent{
    opacity: 0.1;

    -webkit-transition: opacityr 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
nav#main_nav.transparent:hover{
    opacity: 1;

    -webkit-transition: opacityr 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
nav#main_nav ul{
    display: flex;
    width: fit-content;
    height: 28px;
    margin: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 8px;

    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 8px;

    line-height: 28px;
}
nav#main_nav li{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    padding-right: 3px;
    padding-left: 3px;

    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
nav#main_nav li:hover{
    background-color: #666;
    color: #fff;
}
nav#main_nav li.active{
    background-color: #000;
    color: #fff;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;
}
#bad_tournament_maintitle{
    margin-top: 75px;
}
hr{
    clear: both;
}
#bvg_admin_msg{
    margin-top: 80px;
    margin-bottom: -50px;
    padding: 15px;
    position: relative;
    padding-left: 24px;

    background-color: #ddd;
    background-image: url('../icons/bad-tournament-warning-icon.png');
    background-position: top left;
    background-repeat: no-repeat;

    border-left: 4px solid #c00;

    font-weight: bold;
    color: #c00;
}
#bvg_admin_msg_close, .plus_icon{
    width: 20px;
    height: 20px;
    float: right;

    background-image: url('../icons/bad-tournament-close-icon.png');
    background-repeat: no-repeat;
    background-position: top right;

    cursor: pointer;
}
.plus_icon{
    margin: 10px 0 10px 0;
    display: block;
    float: left;
    clear: both;

    background-image: url('../icons/bad-tournament-plus-icon.png');
}
.admin_block, .admin_block_extended{
    display: none;
}
.admin_block_extended{
    float: left;
    margin-top: 35px;
    margin-left: -20px;
}
.admin_block_label{
    clear: both;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
label{
    clear: left;
    display: block;
    float: left;
    padding: 5px;
    width: 80px;
    margin-top: 4px;
    margin-right: 8px;

    border: 1px solid #ddd;
    border-radius: 8px;

    color: #c00;
}
input, select{
    float: left;
    margin-top: 4px;
}
input[type=submit]{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type=submit].submit2 {
    clear: none;
    margin-left: 8px;
}
input[type=number]{
    min-width: 50px;
}
input[type=radio], input[type=checkbox]{
    margin-top: 6px;
    line-height: 24px;
}

/* Tournament */
#tournament_name{
    width: 200px;
}
#tournament_edit{
    display: none;
    clear: none;
}

/* Table */
ul.table{
    width: 100%;
}
ul.table span{
    display: inline-block;
}
.table_header span{
    width: 60px;
    padding: 3px;
    border-bottom: 1px solid #777;
    font-weight: bold;
}
.table_row{
    width: 880px;
}
.table_row:hover{
    background-color: rgba( 0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
}
.table_row span{
    width: 60px;
    padding: 3px;
    font-weight: normal;
}
.table_row .player_infos span{
    width: auto;
    padding: 0;
}
.table span.pl_name{
    min-width: 250px;
    width: 350px;
}
.player_removed span.pl_name{
    color: #fff;
}

/* Matches */
input.set_score, input.match_winner{
    float: none;
    width: 30px;
}
input.match_winner{
    width: 60px;
}
select.player_name, input.player_name{
    background-color: #fffa90;
    color: #000;
}
select.player_name.loser, input.player_name.loser{
    background-color: #c00;
    color: #fff;
}
select.player_name.winner, input.player_name.winner{
    background-color: #adff2f;
    color: #000;
}
.radio_block{
    display: inline-block;
    float: left;
    padding-top: 8px;
}
.radio_block label{
    border: 0;
    float: none;
    display: inline;
}
.radio_block span {
    float: left;
    display: inline-block;
    max-width: 250px;
}
input.wp_style{
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}
.shortcode_bvg{
    margin-bottom: 100px;
}
h1.topspace{
    clear: both;
    padding-top: 50px;
}

.pl_options{
    float: right;
}
.pl_infos, .pl_remove{
    float: right;
    width: 14px;
    height: 14px;

    cursor: pointer;
}
.pl_remove{
    margin-right: 10px;
}
.pl_infos_content{
    max-width: 450px;
    padding: 8px;
    margin: auto;

    background-color: #ffffff !important;

    border: 2px solid #000;
    border-radius: 8px;

    color: #000;
}
.ui-tooltip.pl_infos_content{
    //display: block;
    //position: relative;
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    opacity: 1 !important;
    height: auto; !important;
    max-height: auto !important;
    background-color: #ffffff !important;
    background-image: none;
}
.pl_tooltip_label{
    float: left;
    font-weight: bold;
}
.label_row{
    display: inline-block;
    line-height: 32px;
    margin-top: 4px;
    margin-right: 8px;
}

.label_row > span{
    float: left;
}

#ajax_spinner_layer{
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    line-height: 100%;

    background-color: rgba( 0, 0, 0, 0.9);
    background-image: url( '../icons/background_spinner_ldo.png' );
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 100%;

    vertical-align: middle;
    text-align: center;
}
#ajax_spinner_layer img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    margin:auto;
}

#ui-datepicker-div{
    display: none;
}

.pl_edit_field{
    margin-top: 0;
    margin-left: 15px;
}

.edit_field_valid{
    height: 20px;
    width: 20px;
    padding: 3px;
    margin: 0 2px;
    vertical-align: middle;
    float: left;

    border: 1px solid #ddd;
    border-radius: 4px;

    cursor: pointer;
}

/* Clubs */
#existing_clubs_list{
    max-height: 150px;
    overflow: auto;
}
.clubs_name{
    float: left;
    clear: both;

    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Players */
#player_select{
    height: 150px;
}